.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 50px;
  width: 500px;
}

.input {
  margin-bottom: 20px;
}

.modalBody {
  display: flex;
  max-width: 350px;
}

.btn {
  width: 100%;
  padding: 7px 15px;
}
