.item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  background-color: $bgColor;
  padding: 0.8rem;

  &:hover {
    background-color: $primary;
    color: #000;
  }

  &Title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.modalBody {
  display: flex;
  max-width: 350px;
}
