$bgColor: #090a1a;
$primary: #febf32;
$secondary: #16182d;

$primary1: #2f80ed;
$primary100: #eff1fc;
$primary200: #d0d4f7;
$primary300: #b1b8f2;
$primary400: #929bed;
$primary500: #6370e5;
$primary600: #454ea0;
$primary700: #323873;

// MEDIA
$mobileS: 320px;
$mobileL: 480px;
$tablet: 768px;
$laptopS: 1025px;
$laptopL: 1200px;
$extraLarge: 1600px;
